@layer base {
    table {
        @apply w-full;
        /* min-w-full */
    }

    table tr {
        @apply border-t border-primary-m;
    }
    table tr:first-child {
        @apply border-0;
    }

    table th, table td {
        @apply px-4 py-2;
    }
    table th:last-child, table td:last-child {
        @apply border-l border-primary-m;
    }

    table th {
        @apply font-medium text-lg;
        /* dark:border-neutral-500 */
    }

    @media (max-width: 680px) {
        table.responsive thead {
            @apply hidden;
        }

        table.responsive tbody tr {
            @apply flex flex-col;
        }

        table.responsive tbody td {
            @apply flex justify-end;
        }

        table.responsive tbody td::before {
            position: absolute;
            left: 0;
            @apply pl-4;
            content: attr(data-label);
            font-weight: bold;
            text-transform: uppercase;
          }
    }
}
