@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .logo img.pr-2 {
        height: 100px;
    }

    .logo img.name {
        height: 80px;
    }

    .dinamic {
        padding-top: 130px;
    }


    a.btn {
        @apply
        bg-primary
        !text-white
        rounded
        mt-2
        !px-4
        border-2
        border-transparent
        /* hover:bg-lemon hover:text-primary-d */
        ;
    }
    a.btn:hover, a.btn:focus, a.btn.active {
        @apply 
            bg-lemon !text-primary-d
    }

    .dinamic__title {
        @apply 
            absolute
            z-20
            top-3
            ml-5
            w-full
            /* flex flex-wrap items-center justify-center bg-yellow */
            /* bg-gradient-to-b from-teal-400 to-teal-100 bg-opacity-40 h-screen */
            /* bg-gradient-to-b from-teal-400 bg-opacity-40 via-transparent to-teal-100 */
            /* bg-gradient-to-b from-primary bg-opacity-20 via-transparent  */

            md:justify-start
            lg:top-12
        ;
        width: 500px;
    }
    .dinamic__title--hgroup {
        @apply 
            p-6
            hidden
            w-full
            rounded-xl

            lg:block
            xl:top-28
        ;

        text-shadow: 3px 3px 2px rgba(0,0,0,0.5);
        /* background: linear-gradient(180deg, rgba(0,164,183,0.4) 0%, rgba(0,164,183,0) 100%); */
        background: linear-gradient(180deg, rgba(1,60,67,0.4) 0%, rgba(1,60,67,0) 100%);
    }

    .dinamic__title h1 {
        @apply text-4xl;
    }
    .dinamic__title h1 span {
        @apply text-2xl font-bold;
    }
    .dinamic__title h2 {
        @apply mb-0 font-sans text-xl;
    }

    .dinamic__title--event {
        @apply
        px-6
        py-3
        font-serif
        text-lemon
        bg-primary-d
        rounded-xl

        lg:mt-2
        ;
    }

    .dinamic__title--event h3 {
        @apply
        mb-0
        text-2xl;
    }

    .salud img {
        @apply
            relative
            ml-3
            py-2
            pl-3
            border-white
            border-l-2
        ;
    }
    .salud:before {
        content: "";
        left: 10px;
        height: 56%;
        width: 3px;
        @apply absolute bottom-0 bg-white;
    }

    section.section-in {
        /* padding-top: 140px; */
        @apply py-28 ss:pt-52
    }

    @media (max-width: 420px) {
        .dinamic {
            margin-top: 110px;
        }

        section.section-in {
            padding-top: 120px;
        }
    }

    .tematicas p {
        @apply
            relative
            m-0
            p-4
            font-bold
            bg-primary
            rounded-lg
        ;
    }
    .tematicas p::after {
        content: "";
        top: -10px;
        margin-left: -10px;
        border-top: 20px solid ;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        @apply
            absolute
            w-0
            h-0
            left-1/2
            border-t-orange
        ;
    }

    .card {
        @apply
            flex 
            flex-col 
            items-center
            p-6 pb-4
            text-gray-d
            bg-white
            bg-opacity-60
            rounded-xl
        ;
    }
    .card img {
        @apply
            mb-3
            border-4 border-solid border-primary
            rounded-full
        ;
        width: 100px;
    }
    .card h3 {
        @apply m-0 text-2xl text-primary;
    }

    .normas ul li {
        @apply
            grid row-span-2 sm:grid-cols-12 
            bg-black bg-opacity-60
            rounded-md
        ;
    }
    .normas ul li > span {
        @apply 
            flex flex-wrap items-center
            row-span-1 px-4 py-2
        ;
    }
    .normas ul li > span:first-child {
        @apply sm:col-span-9;
    }
    .normas ul li > span:last-child {
        @apply 
            justify-between
            bg-primary-m
            sm:col-span-3 
            sm:rounded-r-md
        ;
    }
    .normas ul li > span:last-child a {
        @apply 
            p-2
            bg-white
            bg-opacity-30
            rounded-full
            transition-all duration-200 ease-linear hover:bg-opacity-90
        ;
    }

    .footer a {
        @apply 
            text-gray-b
            hover:text-primary
        ;
    }

    .footer__logo img.pr-2 {
        height: 140px;
    }
    .footer__logo img.name {
        height: 96px;
    }

    .footer__logo ul {
        @apply flex flex-wrap mt-4;
    }
    .footer__logo ul li {
        @apply mb-3;
    }
    .footer__logo ul li a {
        @apply p-4;
    }
}
