@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu {
        @apply 
            w-full lg:w-auto
            lg:flex
            hidden
            mt-5 lg:mt-0 
            border-t-2 border-primary lg:border-none
        ;
    }

    .menu ul {
        @apply 
            inline
            lg:flex
            mt-5 lg:mt-0 
            border-t-2 border-primary lg:border-none
        ;
    }

    .menu ul li {
        @apply 
            lg:flex
            items-center
            justify-center
        ;
    }

    .menu ul li a {
        @apply 
            block lg:inline-block
<<<<<<< HEAD
=======
            text-blue-900
<<<<<<< HEAD
>>>>>>> df233437341c18b8e5a41618b17ba44dec956d76
=======
>>>>>>> df233437341c18b8e5a41618b17ba44dec956d76
            text-lemon
            /* hover:text-lemon */
            mx-2
            px-3 py-3 
            border-b-2
            border-primary 
            lg:border-none

            transition-colors duration-200 ease-linear opacity-100 hover:text-yellow
            /* transition-opacity duration-1000 ease-out opacity-100 hover:opacity-0  */
        ;
    }

    .menu ul li a.active {
        @apply text-white border-solid border-b-2 border-primary
    }

    .menu ul a.btn {
        @apply
        bg-primary
        text-white
            rounded
            mt-2
            lg:mt-0 lg:mr-0
            lg:pt-1.5 lg:pb-2 lg:px-4
            border-transparent
            /* hover:bg-lemon hover:text-primary-d */
        ;
    }
    .menu ul a.btn:hover, .menu ul a.btn:focus, .menu ul a.btn.active {
        @apply 
            bg-lemon text-primary-d
            border-2
    }
}

